.box {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateX(-100%);
    transition: all .4s ease-in-out;
}
.active{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-0);
    z-index: 10;
    transition: all .4s ease-in-out;
    animation: show .3s .3s ease-in-out forwards;
}
.userActive img{
    border: 4px solid #3ab434;
}
.box > div, .active > div {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-rows: 48px 1fr;
}
.header{
    background-color:#373D46;
    text-align: center;
    line-height: 48px;
    position: relative;
}

.header h2{
    color: #F8F8F8;
    font-size: 20px;
}
.header button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 45px;
    top: 12px;
}
.content {
    background-color: #F8F8F8;
    overflow: hidden;
}
.contentContainer {
    height: 90%;
    margin: 2.5%;
    display: grid;
    grid-template-columns: repeat(6, 155px);
    grid-auto-rows: 220px;
    grid-gap: 10px;
    justify-content: center;
    overflow-y: auto;
}
.contentContainer::-webkit-scrollbar{
    width: 14px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
}
.contentContainer::-webkit-scrollbar-thumb{
    background-color: #C4C4C4;
    border-radius: 20px;

}
.content img{
    width: 100%;
    height: 155px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content h3{
    text-align: center;
}

@keyframes show{
    to{
        background-color: rgba(0,0,0,.2);
    }
}
